.card {
    background: rgba(255, 255, 255, 0.477);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    max-width: 250px;
    max-height: 420px;
    margin: 10px auto;
    min-width: 250px;
    min-height: 420px;
    text-align: center;
    padding: 10px;
}

.card--img {
    max-height: 180px;
}


.card--img img {
    
    max-height: 180px;
    object-fit: inherit;
    width: 100%;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.card--details {
    margin-top: 20px;
    overflow-y: auto;
}

.card--details button {
    position: absolute;
    bottom: 10px;
    left: 40%;
    transform: translate(-15%, -10%);
}